swagger: '2.0'
info:
  description: >-
    This is the API specification for the Shareable Apps Api
  version: 1.0.0
  title: Shareable Apps API
  termsOfService: 'http://amplifieragency.com/terms/'
  contact:
    email: contact@amplifieragency.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.shareableapps.com
basePath: /v2
tags:
  - name: aggregator
    description: 'Creates and links an Organisation, App and a default User'
  - name: org
    description: Access to organisation object.
  - name: app
    description: Access to the app object.
definitions:
  User:
    type: object
    required:
      - email
      - firstName
      - lastName
      - phone
    properties:
      email:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      phone:
        type: string
  App:
    type: object
    required:
      - name
      - vanityName
    properties:
      name:
        description: Name of the App
        type: string
      keywords:
        type: string
      vanityName:
        description: Vanity name. To be used for <vanityname>.shareableapps.com
        type: string
      description:
        description: Description of App
        type: string
      categoryId:
        description: Category ID
        type: string
      templateName:
        description: Template name
        type: string
      attachment:
        description: Base64 encoded App Icon Image
        type: string
        format: byte
  Org:
    type: object
    properties:
      name:
        type: string
  Composite:
    type: object
    required:
      - orgName
      - email
      - postCode
      - countryCode
      - phone
      - city
      - address1
      - address2
    properties:
      orgName:
        description: Organisation Name
        type: string
      email:
        description: Organisation Email address
        type: string
        format: email
      postCode:
        description: Organisation Post code
        type: string
      countryCode:
        description: Organisation Country Code
        type: string
      phone:
        description: Organisation Phone
        type: string
      city:
        description: Organisation City
        type: string
      address1:
        description: Organisation Address Line 1
        type: string
      address2:
        description: Organisation Address Line 2
        type: string
      apps:
        type: array
        items:
          $ref: '#/definitions/App'
      user:
        $ref: '#/definitions/User'
schemes:
  - http
securityDefinitions:
  APIKey:
    type: apiKey
    in: header
    name: Authorization
    description: 'The Apikey is used to correctly identify the correct organisation for API Calls. This key must be sent within the headers in every request to an endpoint. <br><br>An API Key can be created by an Admin organisation using the following url: https://shareableapps.com/admin/user/api/ <br><br>The key follows the following format `xxxxxxxxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxx`<br><br>The word "apiKey" must be prefixed against the key inside the header. <br>Example `Authorization: apiKey xxxxxxxxxxxxxxxxxxxx:xxxxxxxxxxxxxxxxxxxxx`'
security:
  - APIKey: []
paths:
  /aggregator/createOrgAndApp:
    post:
      tags:
        - Aggregate Functions
      summary: Create Organisation and App
      description: 'Creates and links an organisation, an app and a default user.'
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: Composite
          description: 'Create Organisation, App and User'
          schema:
            example: 
              orgName: Amplifier Agency
              email: api@amplifieragency.com
              postCode: '3000'
              countryCode: '61'
              phone: '6142328870'
              city: Melbourne
              address1: 55 Collins Street
              address2: Level 1
              apps: 
                - name : test 
                  keywords: Tag1
                  vanityName: appName
                  description: Tag Description
                  categoryId: "6"
                  templateName: default
                  attachment: base64 string...
              user: 
                - firstName : test 
                  lastName: Tag1
                  email: default@test.comM
                  phone: '61423288275'
            $ref: '#/definitions/Composite'
      responses:
        '405':
          description: Invalid input
          examples:
            application/json:
              - question: "Favourite programming language?"
                published_at: "2015-08-05T08:40:51.620Z"
                choices:
                  - choice: "Swift"
                    votes: 2048
                  - choice: "Python"
                    votes: 1024
                  - choice: "Objective-C"
                    votes: 512
                  - choice: "Ruby"
                    votes: 256
  /org:
    get:
      tags:
        - Organisation
      summary: Fetch all organisations
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '405':
          description: test
  '/org/{orgId}':
    get:
      tags:
        - Organisation
      summary: Fetch Organisation
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: orgId
          type: integer
          required: true
          description: Numeric ID of the user to get.
      responses:
        '200':
          description: Success
        '405':
          description: Invalid input
    post:
      tags:
        - Organisation
      summary: Update Organisation
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: orgId
          type: integer
          required: true
          description: Numeric ID of the user to get.
      responses:
        '200':
          description: Success
        '405':
          description: Invalid input
  /app:
    get:
      tags:
        - Application
      summary: List all applications
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '405':
          description: test
  '/app/{appId}':
    get:
      tags:
        - Application
      summary: Fetch application by ID
      consumes:
        - application/json
        - application/xml
      produces:
        - application/xml
        - application/json
      parameters:
        - in: path
          name: appId
          type: integer
          required: true
          description: Numeric ID of the user to get.
      responses:
        '200':
          description: Success
        '405':
          description: Invalid input
    post:
      tags:
        - Application
      summary: Update application by ID
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: appId
          type: integer
          required: true
          description: Numeric ID of the user to get.
      responses:
        '405':
          description: Invalid input